<% content_for :title do %>
  记账簿
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'new' %>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>事项</th>
          <th>金额</th>
          <th>时间</th>
          <th>管理</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.id %></td>
            <td><%= account.description %></td>
            <td><%= account.price %> 元</td>
            <td><%= account.created_at.strftime("%Y-%m-%d %H:%M") %></td>
            <td><%= link_to "修改", edit_admin_account_path(account) %></td>
          </tr>
        <% end %>
      </tbody>
   </table>
   <div class="text-center"><%= paginate @accounts %></div>
  </div>
</div>
