
<div class="row">
  <div class="col-md-4 col-md-offset-4 admin_user_form">
    <%= form_for @user, url: admin_user_path, method: :patch do |f| %>
      <div class="form-group">
        <label>姓名：</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>生日(农历)：</label>
        <%= f.date_field :birthday, class: "form-control" %>
      </div>
      <div class="form-group">
        <label>性别：</label>
        <%= f.label :Gender_female, '女' %>
        <%= f.radio_button :gender, false %>
        <%= f.label :Gender_male, '男' %>
        <%= f.radio_button :gender, true %>
      </div>
      <div class="form-group">
        <label>电话号码：</label>
        <%= f.phone_field :mobile, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "修改", class: "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
