<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || Gwx %></title>
  <meta name="title" content="glz Chinese blog" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="爱好中医的rubist" />
  <meta name="author" content="高老庄">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= notice_message %>
  </div>

  <%= yield %>
</body>
</html>
